.label {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
}

.label__name {
  display: block;
  margin-bottom: 3px;
}

.input {
  display: block;
  width: 100%;
  padding: 5px;
}

.select {
  display: block;
  width: 100%;
  padding: 5px;
}